body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#grid-container{
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
}

.grid-cell{
    border: 1px solid #ddd;
    background-color: lightgray;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.grid-cell:hover{
    background-color: blueviolet;
    cursor: pointer;
}